*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    color:rgb(252, 237, 210);
    background-color: rgb(184, 77, 77);
    font-size:60px;
    text-align: center;
}

ul li a{
    color: rgb(184, 77, 77);
    font-size:29px;
    font-weight: bold;
    
}

body{
    background-color: rgb(252, 237, 210);
}

*{
    color:rgb(184, 42, 42);
}

.content{
    width:800px;
    /* border: 3px solid rgb(239, 194, 109); */
    box-shadow: 10px 10px 15px black;
    background-color: rgb(250, 215, 151);
    border-radius: 10px;
    margin:20px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.imgAndIngredients{
    display: flex;
    justify-content: space-around;
}
.img{
    height: 350px;
    width: 40px;
    border-radius: 10px;
    background-image: url(./burger.jpeg);
    background-size: 80%;
    background-position: center;
    box-shadow: 5px 5px 5px black;
    margin-right: 15px;
    flex:1;
}
.ingredients{
    border-radius: 10px;
    background-color: rgb(167, 60, 60);
    color:rgb(252, 237, 210);
    /* flex: 1; */
    font-size: larger;
    box-shadow: 5px 5px 5px black;
    padding: 10px;
}
.ingredients h3{
    text-align: center;
    color: rgb(252, 237, 210);
    font-size: 30px;
    font-weight: bold;
}
.ingredients ul li{
    color: rgb(252, 237, 210);
    font-size: 20px;
    font-weight:500;
    margin:10px 0px;
    list-style-type: none;
    padding-left: 5px; /* Add some padding for the arrows */
   
}
ul li::before {
    content: " ";
    display: inline-block;
    border-width: 0 0.25em 0.25em 0;
    border-style: solid;
    /* border-color: #000; */
    transform: rotate(45deg);
    margin-right: 0.5em; /* Adjust as needed */
}


/* TEXTCONTENT */
.textContent{
    /* border: 2px solid green; */
    margin: 20px 0px;
    padding: 10px;
    font-style: italic;
}
.textContent h3{
    font-size: 32px;
    margin-bottom: 0px;
    font-style: italic;
}
.caution{
    text-align: center;
    font-size:25px;
    font-style: italic;
    font-weight: bolder;
    margin:20px 0px;
    background-color: rgb(167, 60, 60);
    border-radius: 5px;
    color:rgb(252, 237, 210);
    padding: 7px;
    box-shadow: 5px 5px 5px black;
}
.caution span{
    font-weight:bolder;
    font-size: larger;
    color:rgb(252, 237, 210);
}
.textContent h2{
    font-weight: bold;
}
.textContent .descriptionText{
    font-size: 20px;
    text-align:left;
    margin:10px 20px;
}

.textContent ol li{
    font-size: larger;
    margin:10px 20px;
    padding: 5px;
}